header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        justify-content: space-between;
        li{
            list-style-type: none;
        }
    }
}